/******************************************
GENERAL
******************************************/
/*Wrapper section styles. Includes everything under the nav down to the footer.*/
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    clear: both;
}

a {
    text-decoration: none; /** Removes link styling. **/
}

body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

#shopTitle {
    text-align:center;
}

#allBooks {
    text-align:center;
}

/******************************************
HEADING
******************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

/*Logo encompasses just the part where it says my name and a title.*/
#logo {
    text-align: center;
    margin: 0;
}

h1, h3 {
    font-family: 'Amatic SC', cursive;
    margin: 15px 0;
    font-size: 1.75em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    margin: -5px 0 0;
    font-weight: normal;
}



/******************************************
NAVIGATION
******************************************/
nav {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}
nav a {
    font-weight: 700;
    padding: 15px 10px;
}



/******************************************
FOOTER
******************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #b2b2b2;
    font-family: 'Raleway', sans-serif;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    border-radius: 20%;
}

.attribution {
    margin: 30px 0 15px 0;
}



/******************************************
PAGE: PORTFOLIO
******************************************/
#gallery, #galleryMain, 
#gallery figure, 
#gallery figcaption {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li, #galleryMain li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}

/** Create a thumbnail for images of different sizes. And round the corners. **/
#gallery img, #galleryMain img {
    border-radius: 25px;
    height:300px;
    width:300px;
    object-fit: cover;
}


#gallery figcaption, #galleryMain figcaption {
    margin: 0;
    padding 5%;
    font-size: 0.80em;
    color: #666;
    text-align: center;
}




/******************************************
PAGE: ABOUT
******************************************/
.profile-photo {
    display: block; /** Using Block allows us to center the image using margins. Default is inline. **/
    max-width: 175px;
    margin: 0 auto 30px;
    border-radius: 100%;
}

/******************************************
PAGE: CONTACT
******************************************/
.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.linkedin a {
    background-image: url('../img/linkedin.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}

/******************************************
COLORS
******************************************/

/*Site body*/
 body {
     background-color: #f0f5f5;
     color: #999;
 }

/*Header section*/
 
 header {

     border-color: #6968BF;
     background: #8C8BFF;
 }

/*nav bkgrd on mobile*/
 nav {
     background: #8C8BFF;
 }

/*Logo text*/
 h1, h2 {
     color: #fff;
 }

/*links*/
a {
    color: #232340;
}

/*nav styles*/
 nav a, nav a:visited {
     color: #fff;
 }

 nav a.selected, nav a:hover {
     color: #232340;
 }

